<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>facebook-stars</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<script id="vertexShader" type="x-shader/x-vertex">
  attribute vec3 color;
  attribute float texIndex;

  const float SpriteTextureSize = 64.0;
  const float SpritesPerRow = 32.0;

  varying vec2 TextureSize;
  varying vec2 TextureCoord;

  void main() {
      vec4 mvPosition = modelViewMatrix * vec4(position, 1.0);

      // calculate texturecoordinate
      float col = mod(texIndex, SpritesPerRow);
      float row = floor(texIndex / SpritesPerRow);

      float normSpriteTextureSize = SpriteTextureSize/2048.;

      // where in the texture to start (on a range from 0 to 1)
      TextureCoord = vec2(col*normSpriteTextureSize, row * normSpriteTextureSize);
      // TextureCoord = vec2(0., 0.);
      TextureSize = vec2(normSpriteTextureSize, normSpriteTextureSize);

      gl_Position = projectionMatrix * mvPosition;
      gl_PointSize = 10. + (30000. / gl_Position.w);
  }
</script>
<script id="fragmentShader" type="x-shader/x-fragment">
  uniform sampler2D texture;

  varying vec2 TextureCoord;
  varying vec2 TextureSize;

  void main() {

      vec2 realTexCoord = TextureCoord + (TextureSize * gl_PointCoord);
      vec4 fragColor = texture2D(texture, realTexCoord);

      gl_FragColor = fragColor;
  }
</script>
<div id="canvas"></div>
<div id="unit">
  <div id="container">
    <img src="images/unit.png"/>
    <div id="tagline"></div>
  </div>
</div>
<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>